/* Reset básico */
body, h1, p, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilização global */
body {
  font-family: 'Arial', sans-serif;
  background-color: #c2c2c2;
  color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
